@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #272a31;
  --light-black: #2e2e2e;
  --orange: #ec5242;
  --white: white;
  --gray: #d3d3d3;
  --dark-gray: #595959;
  --dark-gray-rgb: 89, 89, 89;
  --orange-transparency: rgba(236, 82, 66, 0.7);
  --gray-transparency: rgba(211, 211, 211, 0.2);
}

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 10px;
}
