html {
  font-size: 62.5%;
}

button {
  height: 3rem;
  width: 8rem;
  margin: 0 1rem;
  background-color: white;
  box-shadow: 5px 4px black;
}

h1,
h2 {
  font-size: 3rem;
}

hr {
  width: 50%;
}

.container {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booksContainer {
  font-size: 1.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid black 3px;
}

.book {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.book:nth-child(even) {
  background-color: #c7d6d8;
}

.bookTitleAuthor {
  display: flex;
  align-items: center;
}

.bookTitleAuthor > * {
  margin: 0 0.3rem;
}

.addBookForm input {
  width: 50%;
  margin: 0.5rem 0;
  border: solid black 3px;
}

.addBookForm button {
  margin: auto;
}
