@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500;800&family=Great+Vibes&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  height: 100%;
}

main {
  flex-grow: 1;
}

.date {
  display: flex;
  justify-content: end;
  font-size: 1.6rem;
  padding: 1rem;
}

.contentSection.hidden {
  display: none;
}

/* header section */
header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #c7d6d8;
  padding: 1rem;
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  margin-right: auto;
}

ul li {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.2rem;
  outline: 0.2rem solid black;
  outline-offset: 0.4rem;
  cursor: pointer;
}

ul li:hover {
  color: white;
  transform: scale(1.4);
}

h1,
h2 {
  font-size: 3rem;
}

hr {
  width: 50%;
}

/* Books section */
.container {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booksContainer {
  font-size: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid black 3px;
}

.books-section__h1 {
  font-size: 5rem;
  margin: 1rem;
  text-align: center;
}

.book {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.book:nth-child(even) {
  background-color: #c7d6d8;
}

.bookTitleAuthor {
  display: flex;
  align-items: center;
}

.bookTitleAuthor > * {
  margin: 0 0.3rem;
}

button {
  height: 2.5rem;
  width: 7rem;
  margin: 0 1rem;
  background-color: white;
  box-shadow: 5px 4px black;
}

/* Add book section */
.add-books__h2 {
  font-size: 5rem;
  margin: 1rem;
}

.addBookForm input,
input:focus {
  width: 85%;
  border: solid black 3px;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  padding: 1rem;
  cursor: pointer;
  margin: 1.2rem 0 2.2rem;
}

.addBookForm button {
  margin: auto;
}

/* Contact section */
.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-section__h2 {
  font-size: 5rem;
  margin: 1rem;
}

.contact-section__p {
  font-size: 3rem;
  margin: 1rem;
}

/* Footer section */
footer {
  font-size: 2.2rem;
  text-align: center;
  padding: 1rem;
  background-color: #c7d6d8;
  height: 8rem;
}


#error-message {
  color: red;
  margin-top: 5rem;
  font-size: 3rem;
}

#success-message {
  color: green;
  margin-top: 2rem;
  font-size: 3rem;
}

