@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #333;
  background-color: #fafafa;
  height: 100%;
}

